*
{
    margin: 0px;
    padding: 0px;
}
header
{
    background-image:linear-gradient(rgba(0,0,0.5,0.5),rgba(0,0,0.5,0.5)),url(1.jpg);
    height: 100vh;
    background-size: cover;
}
.main ul
{
    float: right;
    list-style-type: none;
    margin-top: 20px;
}
.main ul li
{
    float: left;
    position: relative;
}
.main ul li ul
{
    position: absolute;
    margin: 0px;
    padding: 0px;
    display: none;
}
.main ul li:hover ul
{
    display:block;
}
.main ul li ul li
{
    width: 100%;
}
.main ul li ul li a
{
    padding:5px;
}
.main ul li a
{
    display:block;
    text-decoration: none;
    color: snow;
    padding: 5px 20px;
    border: 2px solid transparent;
    transition: 0.9s ease;
}
.main ul li a:hover
{
    background-color: white;
    color:black;
}
.main ul li.active a
{
    background-color: white;
    color:black;
}

.login-box
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.login-box h1
{
    float: left;
    font-size: 40px;
    padding-left:30%;
}
.textbox
{
    width: 100%;
    overflow: hidden;
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid #ec5f33;
}
.btn{
    width: 100%;
    background: none;
    border: 2px solid #ec5f33;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}
.textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80px;
    float: left;
    margin: 0 10px;
}
